/* Light theme colors */

$light-primary-color: #26354c;
$light-primary-color-darker: hsla(216, 33%, 14%, .43);
$light-secondary-color: #1898e6;
$light-focus-color: hsl(203, 81%, 50%);

.light .primary-color {
    color: $light-primary-color;
}

.light {
    // background-color: white;
}