// Base styles for the whole website

@import "extensions";
@import "lightColors";
@import "darkColors";
// @import "input";

* {
    box-sizing: border-box;
}

html,
body {
    @extend %fullscreen;
    margin: 0;
    padding: 0;
    background-color: $light-primary-color;
}

.btn {
    cursor: pointer;
}

// Main App styles
#app {
    @extend %fullscreen;
    @extend %flex;
    @extend %center-items;
}

@import "Views/_login";